:root{
    --card_color: inherit;
    --card_bg:white;
    --price_bg:rgb(237, 237, 237);
}
[class='dark-content']{
    --card_color: white;
    --card_bg: #1E1E1E;
    --price_bg: #0f0f0f;
}
.card{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background:var(--card_bg);
    color: var(--card_color);
    box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
    margin: 18px;
}
.card .courseImg{
    text-align: center;
    margin-top: 45px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #f4fafc;
    padding: 10px;
}
.card p{
    margin-top: 2px;
    padding:0 45px;
}
.card h3{
    padding-top: 8px
}

.card .price{
    text-align: center;
    background-color:var(--price_bg);
    border-radius: 3px;
    padding: 8px;
}

@media only  screen and (max-width: 768px){
    .card{
        margin: 0 0 20px 0;
    }
}